## ESTHER KICA 
- M24B38/010
## SSEMAMBO JOSHUA HUMBLE
- M24B38/003

## Practice Exercise ##
* Using the diamonds dataset, test the hypothesis that average price of all carat categories are the same.

In [1]:
import pandas as pd
diamonds = pd.read_excel("diamonds_new.xlsx")
diamonds.head()

   price  carat      cut color clarity  depth  table     x     y     z
0    326   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    327   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    334   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4    335   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75

#### finding the hypothesis of whether the average price of the table categories is the same

In [3]:
from scipy import stats

In [4]:
#finding the mean of the price
mean_price = diamonds['price'].mean()
mean_price

3933.4921735905045

- mean of price is 3933.492174 rounded off to 3933.49

In [5]:
# Creating carat categories by binning the 'carat' values into equal-sized bins
# Define adjusted bins based on actual data range
bins = [0.2, 1.0, 2.0, 3.0, 4.0,5.0,6.0]

# Recreate carat categories using pd.cut
diamonds['carat_category'] = pd.cut(diamonds['carat'], bins=bins)

# Check if the bins are populated
print(diamonds['carat_category'].value_counts())

carat_category
(0.2, 1.0]    36406
(1.0, 2.0]    15613
(2.0, 3.0]     1857
(3.0, 4.0]       27
(4.0, 5.0]        4
(5.0, 6.0]        1
Name: count, dtype: int64

- this indicates the number of diamonds that are in each catergory of carat<br>
for example<br>
bin (4.0,5.0) has 4 diamonds that are in that catergory

In [6]:
print(diamonds[['carat', 'carat_category']].head(10))  # Display carat and the corresponding category

   carat carat_category
0   0.23     (0.2, 1.0]
1   0.21     (0.2, 1.0]
2   0.23     (0.2, 1.0]
3   0.29     (0.2, 1.0]
4   0.31     (0.2, 1.0]
5   0.24     (0.2, 1.0]
6   0.26     (0.2, 1.0]
7   0.22     (0.2, 1.0]
8   0.23     (0.2, 1.0]
9   0.30     (0.2, 1.0]

In [28]:
# filtering for a single category
single_category = pd.Interval(0.2, 1.0, closed='right')

# Apply the filter
filtered_df = diamonds[diamonds['carat_category'] == single_category]

print(filtered_df.head())

   price  carat      cut color clarity  depth  table     x     y     z  \
0    326   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    327   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    334   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4    335   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75

  carat_category
0     (0.2, 1.0]
1     (0.2, 1.0]
2     (0.2, 1.0]
3     (0.2, 1.0]
4     (0.2, 1.0]

In [8]:
diamonds['carat_category'] = pd.cut(diamonds['carat'], bins=bins)

In [12]:
# Get the intervals from pd.cut
categories = pd.IntervalIndex.from_breaks([0.2, 1.0, 2.0, 3.0,4.0])

# Filter the DataFrame using the actual intervals
filtered_df = diamonds[diamonds['carat_category'].isin(categories)]

# Check the filtered DataFrame
print(filtered_df.head())

   price  carat      cut color clarity  depth  table     x     y     z  \
0    326   0.23    Ideal     E     SI2   61.5   55.0  3.95  3.98  2.43
1    326   0.21  Premium     E     SI1   59.8   61.0  3.89  3.84  2.31
2    327   0.23     Good     E     VS1   56.9   65.0  4.05  4.07  2.31
3    334   0.29  Premium     I     VS2   62.4   58.0  4.20  4.23  2.63
4    335   0.31     Good     J     SI2   63.3   58.0  4.34  4.35  2.75

  carat_category
0     (0.2, 1.0]
1     (0.2, 1.0]
2     (0.2, 1.0]
3     (0.2, 1.0]
4     (0.2, 1.0]

In [23]:
import numpy as np
from statsmodels.stats.weightstats import ztest

# Assuming to compare two carat categories, e.g., (0.2, 1.0] vs (1.0, 2.0]
category1 = diamonds[diamonds['carat_category'] == pd.Interval(0.2, 1.0, closed='right')]['price']
category2 = diamonds[diamonds['carat_category'] == pd.Interval(1.0, 2.0, closed='right')]['price']

# Perform the Z-test
z_stat, p_value = ztest(category1, category2)


# Print the results
print(f"Z-test Statistic: {z_stat}, p-value: {p_value}")

Z-test Statistic: -285.2509168804081, p-value: 0.0

`interpretation of results`
- the p_value is less than 0.05 hence we do not accept the null hypothesis and take the alternative hypothesis

In [ ]:
category3 = diamonds[diamonds['carat_category'] == pd.Interval(2.0, 3.0, closed='right')]['price']
category4 = diamonds[diamonds['carat_category'] == pd.Interval(3.0, 4.0, closed='right')]['price']

z_stat, p_value = ztest(category3, category4)

print(f"Z-test Statistic:{z_stat}, p_value: {p_value}")

#### Finding out if the hypothesis that the average price of 'premium 'diamonds is 150

In [11]:
import scipy.stats as stats

# Filter the dataset to include only Premium diamonds
premium_diamonds = diamonds[diamonds['cut'] == 'Premium']

# Perform a one-sample t-test
t_statistic, p_value = stats.ttest_1samp(premium_diamonds['price'], 150)

# Display the t-statistic and p-value
print(f"T-statistic: {t_statistic}, P-value: {p_value}")

T-statistic: 119.73104883785925, P-value: 0.0

`Interpretation of results`
- the p-value is less than 0.05 hence reject the null hypothesis
- we reject the null hypothesis and accept the alternative hypothesis